<template>

  <section id="contact-form">
    <div class="row pad-32 s-pad-8">
      <div class="cont col s12 m6 l6 center-align">
        <h2>{{ $t("contacto.contacto") }}</h2>
        <span>email: {{ $t("contacto.email") }}</span>
      </div>
      <div class="col s12 m6 l6">
        <form id="contact-form" @submit.prevent.stop="Submit" class="block v-mar-16 pad-8" >
          <input v-model="name" type="text" name="name" value="" :placeholder="$t('contacto.form.nombre')">
          <input v-model="email" type="email" name="email" value="" :placeholder="$t('contacto.form.email')">
          <textarea v-model="message" name="message" rows="4" :placeholder="$t('contacto.form.mensaje')" cols="5"></textarea>

          <div v-show=" success_message != '' " class="success">
            {{ $t(success_message) }}
          </div>

          <div v-show=" error_message != '' " class="error">
            {{ $t(error_message) }}
          </div>
          <button v-show=" success_message == '' " type="submit" name="button">{{ $t('contacto.form.send') }}</button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data: function(){
      return {
        name: "",
        email: "",
        message: "",

        success_message: "",
        error_message: ""
      }
    },
    methods: {
      Submit: function(){
        this.error_message = "";
        if( this.name == "" ){
          this.error_message = "contacto.form.sin_nombre";
          return;}
        if( this.email == "" ){
          this.error_message = "contacto.form.sin_email";
          return;}
        if( this.message == "" ){
          this.error_message = "contacto.form.sin_mensaje";
          return;}


        // var Form = document.getElementById('contact-form');
        // var formData = new FormData(Form);
        var formData = new FormData();
        formData.append("name", this.name);
        formData.append("email", this.email);
        formData.append("message", this.message);
        // formData.append("file", document.querySelector('#file').files[0] );
       this.success_message = "contacto.form.enviando";
       this.$axios.post( this.api + "/submit_form", formData , {headers: {'Content-Type': 'multipart/form-data'}} )
       .then( (res) => {
         if( res.data["status"] == false ){
           this.success_message = "";
           this.error_message = res.data["message"];
         }else{
           this.name = "";
           this.email = "";
           this.message = "";
           this.success_message = "contacto.form.success";}

         console.log(res.data);
       })
       .catch( (err) => {
         this.error_message = "contacto.form.error";
         console.log(err);
       });

      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  #contact-form{
    .cont{
      span{
        color: gray;
        font-size: 1.2rem;
      }
    }
    h2{
      font-weight: bold;
      color: $brand-color;

      @media #{$medium-and-down}{
        font-size: 2rem;
      }
    }

    form{

      input, textarea{
        &::placeholder{
          color: rgba(0,0,0,0.50);
        }
        background-color: rgba(0,0,0,0.07);
        border: 1px solid rgba(0,0,0,0.10);
        border-radius: 6px;
        padding: 2px;
        width: 100%;
        display: inline-block;
        margin-top: 4px !important;
        margin-bottom: 4px !important;
      }

      button{
        background-color: $brand-color;
        padding: 10px 30px;
        font-size: 1.2rem;
      }
      textarea{
        height: 80px !important;
      }
      .success{
        color: green;
      }
      .error{
        color: red;
      }
    }
  }
</style>
