<template>
  <form class="contact-form" @submit.prevent >



    <input type="text" name="nombre" v-model="nombre" value="" placeholder="Nombre">
    <input type="email" name="email" v-model="email" value="" placeholder="E-mail">
    <textarea name="mensaje" v-model="mensaje" rows="8" cols="80" placeholder="Mensaje"></textarea>



    <transition name="message-fade">
      <div v-show=" message != '' " :class="['message', message_type]" v-html="message" ></div>
    </transition>

    <transition name="button-fade">
    <div v-show="!is_sent" class="center-align">
      <a href="#" class="boton v-mar-16" @click.prevent.stop="Submit">Enviar</a>
    </div>
    </transition>

  </form>
</template>

<script>
  export default{
    data: function(){
      return {
        message: "",
        message_type: "error",
        is_sent: false,

        "nombre": "",
        "email": "",
        "mensaje": ""

        // "tel": "",
        // "empresa": "",
        // "puesto": "",
        // "interes": ""
      };
    },

    methods: {
      trackLeadConversion: function(){
        console.log("trackLeadConversion");

        if( this.$dataLayer ){
          this.$dataLayer.push({
            "event": "ContactFormLead"
          });
        }
      },
      formIsValid: function(){
        this.message = "";
        this.message_type = "error"

        if( ! this.email ){
          this.message = "* Falta el email."}
        if( this.email ){
          if( ! this.isEmailValid(this.email) ){
            this.message = "* El email no es válido.";
          }
        }

        if( ! this.nombre ){
          this.message = "* Falta el nombre."}

        return ( this.message == "" );
      },

      setSuccess: function( message ){
        this.message = message;
        this.message_type = "success";
        this.is_sent = true;
        this.trackLeadConversion();
      },
      isEmailValid: function(email){
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
      },
      setError: function( message ){
        this.message = "* Error al enviar formulario. Inténtalo de nuevo.";
        this.message_type = "error";
        console.log( message );
      },
      Submit: function(){
        if( this.formIsValid() ){
          this.message_type = "";
          this.message = "Enviando...";

          this.$backend.POST( this.$backend.route + "/form_backend/submit.php", (err, res)=>{
            if(err){
              this.setError( err );
            }else{
              if( res.status ){
                this.setSuccess("¡Gracias! Pronto nos pondremos en contacto contigo.");
                // console.log( res );
              }else{
                this.setError( res.message );
              }
            }
          }, this.$data );

        }
      }
    }
  }
</script>

<style lang="scss">
  .contact-form{
    .message-fade-enter-active, .message-fade-leave-active{
      transition: all .3s;
      opacity: 1.0;
    }
    .message-fade-enter, .message-fade-leave-to{
      opacity: 0.0;
    }

    .button-fade-enter-active, .button-fade-leave-active{
      transition: all .3s;
      opacity: 1.0;

      transform-origin: 50% 0%;
      -moz-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
    }
    .button-fade-enter, .button-fade-leave-to{
      opacity: 0.0;

      transform-origin: 50% 0%;
      -moz-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -o-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
    }
  }


</style>
