<template>
  <section>
    <footer id="contacto">
      <div class="footer v-pad-16">
        <div class="row">
          <div class="col s12 m5 l6 s-center-align">
            <img class="pad-16 s-pad-0" src="~assets/img/vector/footer-logo.svg" alt="">
          </div>
          <div class="col s12 m7 l6">
            <div class="items block right">
            <p>TP1 Dielectric Vegetable Oil 2019. {{ $t("footer.derechos_reservados") }}.</p>
          </div>
        </div>
      </div>
    </div>

    </footer>
    <TheContactButton
      brand_color="#20A473"
      tel="2222982119"
      whatsapp="#"
      mail="hola@tp1.com.mx"
      google_maps="#"
    />
  </section>

</template>

<script>
  import TheContactButton from '~/components/TheContactButton'

  export default{
    components: {
      TheContactButton
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  footer{
    .footer{
      background-color: #F2F2F2;
      img{
        width: 300px;
        height: auto;
        padding-left: 32px;
        @media #{$medium-and-down}{

        }
        @media #{$small-and-down}{
          width: 150px;
          padding-left: 0px;
          margin-top: 16px;
        }
      }
      p{
        padding-top: 25px;
        color: #AFA6A5;
        @media #{$medium-and-down}{
          font-size: .8rem;
        }
        @media #{$small-and-down}{
          padding-top: 0px;
          font-size: .5rem;
        }
      }
    }
  }
</style>
