<template lang="html">
  <header class="header z-depth-1">

    <div class="row">
      <div class="col s12 m5 l5 s-center-align">
        <img class="pad-16 s-pad-0" src="~assets/img/vector/nav-logo.svg" alt="">
      </div>
      <div class="col s12 m7 l7">
        <div class="items block right">
          <a :href="'/'+$i18n.locale+'/'" class="hide-on-med-and-down">{{ $t("header.inicio") }}</a>
          <a :href="'/'+$i18n.locale+'/ambiente'">{{ $t("header.medio_ambiente") }}</a>
          <a :href="'/'+$i18n.locale+'/tecnicos'">{{ $t("header.aspectos_tecnicos") }}</a>
          <a :href="'/'+$i18n.locale+'/nosotros'">{{ $t("header.contacto") }}</a>
        </div>
      </div>
    </div>
    <div class="langs">
      <span class="hide-on-small-only">{{$t("header.traducir")}}:</span>
      <a href="/mx/">
        <img src="~assets/img/mx.png" alt="">
      </a>

      <a href="/en/">
        <img src="~assets/img/en.png" alt="">
      </a>

    </div>
  </header>

</template>

<script>
export default {
}
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
  .header{

    .langs{
      font-size: 0.6rem;
      position: absolute;
      top: 5px;
      right: 5px;
      display: block;

      a{
        margin: 0px;
        padding: 0px;}
      img{
        vertical-align: middle;
        height: 16px;
        width: auto;
        padding: 0px;
        margin-left: 2px;
        margin-right: 2px;
        @extend .transition;
        &:hover, &:active{
          transform: scale(1.5);
        }
      }

      @media #{$small-and-down}{
        &{
          top: 3px;
          right: 10px;
          img{
            height: 17px;
            margin-left: 4px;
            margin-right: 4px;
            margin-top: 5px;
          }
        }
      }
    }
    font-size: 16px;
    img{
      width: 250px;
      height: auto;
      padding-left: 32px;
      @media #{$small-and-down}{
        width: 150px;
        padding-left: 0px;
        margin-top: 16px;
      }
    }
    .items{
      width: 100%;

      a{
        width: 24%;
        text-align: center;
        display: inline-block;
        padding: 4px;
        margin-top: 28px;
        color: #A4A49F;
        @media #{$medium-and-down}{
          width: auto;
          font-size: 15px;
          padding-top: 2%;
        }
        @media #{$small-and-down}{
          width: 32%;
          margin-top: 2px;
          font-size: 11px;
          padding: 1px;
        }
      }
    }
    @media #{$small-and-down}{
      padding-bottom: 3px;
    }
  }

</style>
