<template>
  <section id="mobile-menu">

    <svg @click=" visible = true " class="show-icon" xmlns="http://www.w3.org/2000/svg" version="1" width="512" height="512" viewBox="0 0 459 459">
      <path d="M0 383h459v-51H0v51zm0-128h459v-51H0v51zM0 77v51h459V77H0z" :fill="fill"/>
    </svg>

    <transition name="mobile-menu-fade">
      <div v-if="visible" class="wrapper">
        <svg @click=" visible = false " class="hide-icon" xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 213 213" width="512" height="512">
          <path
            d="M132 106l76-75a18 18 0 1 0-26-26l-76 76L31 5A18 18 0 1 0 5 31l76 75-76 76a18 18 0 0 0 26 26l75-76 76 76a18 18 0 1 0 26-26l-76-76z"
            fill="gray"
            fill-rule="evenodd"
            clip-rule="evenodd"
          />
        </svg>
        <div class="items">
          <slot></slot>
        </div>
      </div>
    </transition>

  </section>
</template>

<script>
  export default{
    data: function(){
      return {
        "visible": false
      };
    },
    mounted: function(){

      this.$bus.$on("show-mobile-menu", ()=>{
        this.visible = true;
      });

      this.$bus.$on("hide-mobile-menu", ()=>{
        this.visible = false;
      });

    },
    props: {
      "fill": {
        default: "red"
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  $mobile-menu-offset: -200px;
  .mobile-menu-fade-enter-active, .mobile-menu-fade-leave-active{
    transition: all .3s;
    opacity: 1.0;
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    -ms-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px);
  }

  .mobile-menu-fade-enter, .mobile-menu-fade-leave-to{
    opacity: 0.0;
    -moz-transform: translateX(0px) translateY($mobile-menu-offset);
    -webkit-transform: translateX(0px) translateY($mobile-menu-offset);
    -o-transform: translateX(0px) translateY($mobile-menu-offset);
    -ms-transform: translateX(0px) translateY($mobile-menu-offset);
    transform: translateX(0px) translateY($mobile-menu-offset);
  }

  #mobile-menu{

    .show-icon, .hide-icon{
      display: none;
      @media #{$small-and-down} {
        display: block;
      }
      z-index: 1001;
      position: fixed;
      top: 0px;
      right: 0px;

      cursor: pointer;
      width: 26px;
      height: auto;
      margin-top: 12px;
      margin-right: 12px;
    }

    .wrapper{
      display: none;
      @media #{$small-and-down} {
        display: block;
      }

      z-index: 1002;
      position: fixed;
      display: block;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-color: white;

      .items{
        margin-top: 20%;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: block;

        a{
          font-size: 1.1rem;
          text-align: center;
          color: $dark-gray;
          width: 100%;
          display: block;
          padding-top: 25px;
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(0,0,0,.33);
          @extend .transition;

          &:hover, &:active{
            background-color: rgba(0,0,0,.1);
          }
        }
      }
    }
  }
</style>
