<template>
  <section id="alcance" class="">
    Alcance
  </section>
</template>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #alcance{

  }
</style>

<script>
  export default{

  }
</script>
