<template>
  <section id="experiencias" class="">
    Experiencias
  </section>
</template>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #experiencias{

  }
</style>

<script>
  export default{

  }
</script>
