<template>
  <section id="formulario" class="">
    Formulario
  </section>
</template>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #formulario{

  }
</style>

<script>
  export default{

  }
</script>
