<template>
  <section id="intro" class="">
    Intro
    <img src="~assets/app/en-assets.jpg" alt="">
    <img src="/app/en-static.jpg" alt="">
  </section>
</template>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #intro{

  }
</style>

<script>
  export default{

  }
</script>
