<template>
  <section id="planes" class="">
    Planes
  </section>
</template>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #planes{

  }
</style>

<script>
  export default{

  }
</script>
