<template>
  <section id="ventajas" class="">
    Ventajas
  </section>
</template>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #ventajas{

  }
</style>

<script>
  export default{

  }
</script>
