<template>
  <div :id="id" @click.prevent="onClick" class="carousel carousel-cards">

    <slot></slot>

  </div>
</template>

<script>
  export default{
    data: function(){
      return {
        Carousel: null,
        Interval: null
      };
    },
    props: {
      id: {default: "carousel-cards"},
      transition: {default: "200"},
      wait: {default: "4000"},
      dist: {default: "0"},
      numVisible: {default: 5}
    },
    methods: {
      "next": function(){
        this.Carousel.next();
      },
      "prev": function(){
        this.Carousel.prev();
      },
      "set": function(n=1){
        this.Carousel.set(n);
      },
      "destroy": function(){
        this.Carousel.destroy();
      },
      onClick: function(){
        this.restartLoop();
      },
      startLoop: function(){
        this.Interval = setInterval(this.next, this.wait);
      },
      stopLoop: function(){
        clearInterval(this.Interval);
      },
      restartLoop: function(){
        this.stopLoop();
        this.startLoop();
      }
    },
    mounted: function(){

      this.Carousel = window.M.Carousel.init( document.getElementById(this.id) ,{
        "fullWidth": false,
        "indicators": false,
        "duration": this.transition,
        "dist": this.dist,
        "numVisible": this.numVisible
      });

      this.startLoop();

      this.$bus.$on("next-" + this.id, ()=>{
        this.restartLoop();
        this.next();
      });
      this.$bus.$on("prev-" + this.id, ()=>{
        this.restartLoop();
        this.prev();
      });
    }
  }
</script>

<style lang="scss">
  .carousel.carousel-cards{

    .carousel-item{
      /* opacity: 1.0 !important; */
    }
  }
</style>
