<template>
  <div :id="id" @click.prevent="onClick" class="carousel carousel-slider center">

    <div class="carousel-fixed-item center">
      <slot name="fixed"></slot>
    </div>

    <slot></slot>

  </div>
</template>

<script>
  export default{
    data: function(){
      return {
        Carousel: null,
        Interval: null
      };
    },
    props: {
      id: {default: "carousel"},
      transition: {default: "200"},
      wait: {default: "4000"},
    },
    methods: {
      "next": function(){
        this.Carousel.next();
      },
      "prev": function(){
        this.Carousel.prev();
      },
      "set": function(n=1){
        this.Carousel.set(n);
      },
      "destroy": function(){
        this.Carousel.destroy();
      },
      onClick: function(){
        this.restartLoop();
      },
      startLoop: function(){
        this.Interval = setInterval(this.next, this.wait);
      },
      stopLoop: function(){
        clearInterval(this.Interval);
      },
      restartLoop: function(){
        this.stopLoop();
        this.startLoop();
      }
    },
    mounted: function(){

      this.Carousel = window.M.Carousel.init( document.getElementById(this.id) ,{
        fullWidth: true,
        indicators: true,
        duration: this.transition
      });

      this.startLoop();
    }
  }
</script>

<style lang="scss">
  .carousel{

    .carousel-item{
      min-height: 280px !important;
    }
  }
</style>
