<template>

  <form @submit.prevent="Submit()" autocomplete="off">
    <label for="">Nombre</label>
    <input type="text" v-model="nombre" name="nombre" value="">

    <label for="">Empresa</label>
    <input type="text" v-model="empresa" name="empresa" value="">

    <label for="">Email</label>
    <input type="text" v-model="email" name="email" value="">

    <label for="">Teléfono</label>
    <input type="text" v-model="tel" name="tel" value="">

    <label for="">Puesto</label>
    <input type="text" v-model="puesto" name="puesto" value="">

    <button v-show="!is_sent" type="submit">Enviar</button>

    <div class="wid-100 center-align" :class="['message',message_type]">
      {{ message }}
    </div>
  </form>

</template>

<script>
  export default{
    data: function(){
      return {
        "post_params": ["email","nombre","tel","empresa","puesto"],

        "is_sent": false,
        "message": "",
        "message_type": "success",

        "email": "",
        "nombre": "",
        "tel": "",
        "empresa": "",
        "puesto": "",
        "interes": "",
        "mensaje": "",
      };
    },
    methods:{
      validateForm: function(){
        this.message = "";

        if( !this.nombre & this.post_params.includes("nombre") ){
          this.message = "* Falta el nombre."}

        if( !this.empresa & this.post_params.includes("empresa") ){
          this.message = "* Falta la empresa."}

        if( !this.email & this.post_params.includes("email") ){
          this.message = "* Falta el email."}

        if( !this.tel & this.post_params.includes("tel") ){
          this.message = "* Falta el teléfono."}

        if( !this.puesto & this.post_params.includes("puesto") ){
          this.message = "* Falta el puesto."}

        if( !this.interes & this.post_params.includes("interes") ){
          this.message = "* Falta poner tu interés."}

        if( !this.mensaje & this.post_params.includes("mensaje") ){
          this.message = "* Falta el mensaje."}

        if( this.message == "" ){
          return true;
        }else{
          this.message_type = "error";
          return false;
        }

      },
      Submit: function(){
        if( this.validateForm() & (! this.is_sent) ){
          this.message_type = "";
          this.message = "enviando...";

          this.PostData( (success)=>{
            if(success){
              this.is_sent = true;
              this.message_type = "success";
              this.message = ("¡Gracias! Pronto nos pondremos en contacto contigo.");
            }else{
              this.message_type = "error";
              this.message = ("* Hubo un error. Por favor inténtalo de nuevo.");
            }
          });
        }
      },
      PostData: function( callback_TF ){
        var endpoint = (this.$backend.route + "/form_backend/submit.php");

        var PostParamaters = {};
        this.post_params.forEach( (key)=>{
          PostParamaters[key] = this[key];
        });

        this.$backend.POST(endpoint, (err, res)=>{
          if(err){
            console.log(err)
            callback_TF(false);
          }

          if( res.status){
            console.log( res.message );
            if( this.$dataLayer ){
              this.$dataLayer.event("ContactFormLead");
            }
            callback_TF(true);
          }else{
            console.log( res.message )
            callback_TF(false);
          }

        }, PostParamaters);

      }
    }
  }
</script>

<style lang="scss">
    @import "~assets/materialize_mkti";
</style>
