<template >

  <section :style="{'background-image': 'url('+background_image+')'}" class="cover-background">
    <slot></slot>
  </section>

</template>

<script>
  export default{
    props: {
      "background_image": {
        default: "hola.png"
      }
    }
  }
</script>

<style lang="scss">
    @import "~assets/materialize_mkti";
    .cover-background{
      width: 100%;
      height: 100vh;
      display: block;
      @extend .bg;
    }
</style>
