<template>

  <section v-show="is_visible" class="popup">
    <svg @click.stop.prevent="Close()" class="icon close" version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 213 213">
      <path fill="white" d="M132 106l76-75a18 18 0 1 0-26-26l-76 76L31 5A18 18 0 1 0 5 31l76 75-76 76a18 18 0 0 0 26 26l75-76 76 76a18 18 0 1 0 26-26l-76-76z" fill-rule="evenodd" clip-rule="evenodd"/>
    </svg>
    <div class="height vertical-align">
      <slot></slot>
    </div>
  </section>

</template>

<script>
  export default {
    mounted: function(){

      document.onkeydown = (evt)=>{
          evt = evt || window.event;
          if (evt.keyCode == 27) {
            if(this.is_visible){
              this.Close();
            }
          }
      };
    },

    props: {
      is_visible: {
        default: false
      }
    },

    methods: {
      Toggle: function(){
        if(this.is_visible){
          this.Close();
        }else{
          this.Open();
        }
      },
      Open: function(){
        this.is_visible = true;
      },
      Close: function(){
        this.is_visible = false;
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  .popup{
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);

    .icon{
      &.close{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        margin: 20px;
        right: 20px;
        top: 0px;

        @media #{$small-and-down}{
          width: 25px;
          height: 25px;

          margin: 15px;
        }
      }
    }

    .vertical-align > *{
      z-index: 10001;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }
</style>
