@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:400,700');

.poppins{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html,body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

em,.light{
  font-weight: 300;
  font-style: normal;
}

strong,.strong{
  font-weight: 700;
  font-style: normal;
}

a{
  color: inherit;
  text-decoration: none;
}

$white: white;
$light-gray: rgb(220,220,220);
$dark-gray: rgba(0,0,0,0.86);


$color: #20A473;
$brand-color: #20A473;
$light-color: #9ECE71;

$dark-color: #A9A49F;

.h2{
  color: $brand-color;
  font-size: 2.3rem;
  padding: 4px;
  margin: 0px;
  font-weight: bold;

  @media #{$small-and-down}{
    font-size: 1.8rem;
  }
}

.cta{
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: $light-color;
  display: block;
  clear: both;
  text-align: center;
  font-size: 0.9rem;
  min-width: 200px;
}

.letras-verdes{
  font-size: 1.1rem;
  color: $light-color;
  @extend .poppins;
}

.split{
  height: 80vh;
  @media #{$medium-and-down}{
    height: 80vh;
  }
  @media #{$small-and-down}{
    height: 100vh;
  }
}
