
.vertical-align{
  @extend .valign-wrapper;
}

.left, .l-left{float: left !important;}
.right, .l-right{float: right !important;}

.auto{
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

@media #{$medium-and-down} {
  .m-left{float: left !important;}
  .m-right{float: right !important;}

  .m-left-align{ text-align: left;}
  .m-right-align{ text-align: right;}
  .m-center-align{ text-align: center;}

  .m-auto{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
  }
}

@media #{$small-and-down} {
  .s-left{float: left !important;}
  .s-right{float: right !important;}

  .s-left-align{ text-align: left;}
  .s-right-align{ text-align: right;}
  .s-center-align{ text-align: center;}

  .s-auto{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
  }
}
