
.pad-0 { padding: 0px; }
.pad-1 { padding: 1px; }
.pad-2 { padding: 2px; }
.pad-4 { padding: 4px; }
.pad-8 { padding: 8px; }
.pad-16{ padding: 16px; }
.pad-32{ padding: 32px; }
.pad-64{ padding: 64px; }
.pad-128{ padding: 128px; }

.v-pad-0 { padding-top: 0px; padding-bottom: 0px;}
.v-pad-1 { padding-top: 1px; padding-bottom: 1px;}
.v-pad-2 { padding-top: 2px; padding-bottom: 2px;}
.v-pad-4 { padding-top: 4px; padding-bottom: 4px;}
.v-pad-8 { padding-top: 8px; padding-bottom: 8px;}
.v-pad-16 { padding-top: 16px; padding-bottom: 16px;}
.v-pad-32 { padding-top: 32px; padding-bottom: 32px;}
.v-pad-64 { padding-top: 64px; padding-bottom: 64px;}
.v-pad-128 { padding-top: 128px; padding-bottom: 128px;}

.h-pad-0 { padding-left: 0px; padding-right: 0px;}
.h-pad-1 { padding-left: 1px; padding-right: 1px;}
.h-pad-2 { padding-left: 2px; padding-right: 2px;}
.h-pad-4 { padding-left: 4px; padding-right: 4px;}
.h-pad-8 { padding-left: 8px; padding-right: 8px;}
.h-pad-16 { padding-left: 16px; padding-right: 16px;}
.h-pad-32 { padding-left: 32px; padding-right: 32px;}
.h-pad-64 { padding-left: 64px; padding-right: 64px;}
.h-pad-128 { padding-left: 128px; padding-right: 128px;}

@media #{$medium-and-down} {
  .m-pad-0 { padding: 0px; }
  .m-pad-1 { padding: 1px; }
  .m-pad-2 { padding: 2px; }
  .m-pad-4 { padding: 4px; }
  .m-pad-8 { padding: 8px; }
  .m-pad-16{ padding: 16px; }
  .m-pad-32{ padding: 32px; }
  .m-pad-64{ padding: 64px; }
  .m-pad-128{ padding: 128px; }

  .mv-pad-0 { padding-top: 0px; padding-bottom: 0px;}
  .mv-pad-1 { padding-top: 1px; padding-bottom: 1px;}
  .mv-pad-2 { padding-top: 2px; padding-bottom: 2px;}
  .mv-pad-4 { padding-top: 4px; padding-bottom: 4px;}
  .mv-pad-8 { padding-top: 8px; padding-bottom: 8px;}
  .mv-pad-16 { padding-top: 16px; padding-bottom: 16px;}
  .mv-pad-32 { padding-top: 32px; padding-bottom: 32px;}
  .mv-pad-64 { padding-top: 64px; padding-bottom: 64px;}
  .mv-pad-128 { padding-top: 128px; padding-bottom: 128px;}

  .mh-pad-0 { padding-left: 0px; padding-right: 0px;}
  .mh-pad-1 { padding-left: 1px; padding-right: 1px;}
  .mh-pad-2 { padding-left: 2px; padding-right: 2px;}
  .mh-pad-4 { padding-left: 4px; padding-right: 4px;}
  .mh-pad-8 { padding-left: 8px; padding-right: 8px;}
  .mh-pad-16 { padding-left: 16px; padding-right: 16px;}
  .mh-pad-32 { padding-left: 32px; padding-right: 32px;}
  .mh-pad-64 { padding-left: 64px; padding-right: 64px;}
  .mh-pad-128 { padding-left: 128px; padding-right: 128px;}
}

@media #{$small-and-down} {
  .s-pad-0 { padding: 0px; }
  .s-pad-1 { padding: 1px; }
  .s-pad-2 { padding: 2px; }
  .s-pad-4 { padding: 4px; }
  .s-pad-8 { padding: 8px; }
  .s-pad-16{ padding: 16px; }
  .s-pad-32{ padding: 32px; }
  .s-pad-64{ padding: 64px; }
  .s-pad-128{ padding: 128px; }

  .sv-pad-0 { padding-top: 0px; padding-bottom: 0px;}
  .sv-pad-1 { padding-top: 1px; padding-bottom: 1px;}
  .sv-pad-2 { padding-top: 2px; padding-bottom: 2px;}
  .sv-pad-4 { padding-top: 4px; padding-bottom: 4px;}
  .sv-pad-8 { padding-top: 8px; padding-bottom: 8px;}
  .sv-pad-16 { padding-top: 16px; padding-bottom: 16px;}
  .sv-pad-32 { padding-top: 32px; padding-bottom: 32px;}
  .sv-pad-64 { padding-top: 64px; padding-bottom: 64px;}
  .sv-pad-128 { padding-top: 128px; padding-bottom: 128px;}

  .sh-pad-0 { padding-left: 0px; padding-right: 0px;}
  .sh-pad-1 { padding-left: 1px; padding-right: 1px;}
  .sh-pad-2 { padding-left: 2px; padding-right: 2px;}
  .sh-pad-4 { padding-left: 4px; padding-right: 4px;}
  .sh-pad-8 { padding-left: 8px; padding-right: 8px;}
  .sh-pad-16 { padding-left: 16px; padding-right: 16px;}
  .sh-pad-32 { padding-left: 32px; padding-right: 32px;}
  .sh-pad-64 { padding-left: 64px; padding-right: 64px;}
  .sh-pad-128 { padding-left: 128px; padding-right: 128px;}
}
