.lv0{ min-height: 0vh; }
.lv1{ min-height: 8.33vh; }
.lv2{ min-height: 16.66vh; }
.lv3{ min-height: 25vh; }
.lv4{ min-height: 33.33vh; }
.lv5{ min-height: 41.66vh; }
.lv6{ min-height: 50vh; }
.lv7{ min-height: 58.33vh; }
.lv8{ min-height: 66.66vh; }
.lv9{ min-height: 75vh; }
.lv10{ min-height: 83.33vh; }
.lv11{ min-height: 91.66vh; }
.lv12{ min-height: 100vh; }

@media #{$medium-and-down} {
  .mv0{ min-height: 0vh; }
  .mv1{ min-height: 8.33vh; }
  .mv2{ min-height: 16.66vh; }
  .mv3{ min-height: 25vh; }
  .mv4{ min-height: 33.33vh; }
  .mv5{ min-height: 41.66vh; }
  .mv6{ min-height: 50vh; }
  .mv7{ min-height: 58.33vh; }
  .mv8{ min-height: 66.66vh; }
  .mv9{ min-height: 75vh; }
  .mv10{ min-height: 83.33vh; }
  .mv11{ min-height: 91.66vh; }
  .mv12{ min-height: 100vh; }
}

@media #{$small-and-down} {
  .sv0{ min-height: 0vh; }
  .sv1{ min-height: 8.33vh; }
  .sv2{ min-height: 16.66vh; }
  .sv3{ min-height: 25vh; }
  .sv4{ min-height: 33.33vh; }
  .sv5{ min-height: 41.66vh; }
  .sv6{ min-height: 50vh; }
  .sv7{ min-height: 58.33vh; }
  .sv8{ min-height: 66.66vh; }
  .sv9{ min-height: 75vh; }
  .sv10{ min-height: 83.33vh; }
  .sv11{ min-height: 91.66vh; }
  .sv12{ min-height: 100vh; }
}
