<template>
  <section id="ambiente" class="">


    <!-- "ambiente":{
      "bio1": "BIODEGRADABLE",
      "bio2": "Because it is a natural vegetable oil derived from an oilseed, TP1 DVO® is 100% biodegradable, and therefore significantly reduces the costs for its handling, transport and final disposal.",
      "src1": "RENEWABLE SOURCE",
      "src2": "TP1 DVO insulating liquid comes from vegetable oil, a renewable source (oil seeds) easily biodegradable, recyclable and reusable."
    }, -->

    <div class="row textogigante center-align">
      <div class="col l12 m12 s12">
        <p class="h2">TP1 DVO® {{$t("ambiente.titulo1")}} <span>{{$t("ambiente.titulo2")}}</span>
        </p>
      </div>
    </div>

    <div class="row imgniño lv12 mv10 sv8">
      <div class="col l12 m12 s12">

      </div>
    </div>

    <div class="row biodegradable">
      <div class="col l6 m12 s12">
        <div class="textresp block auto wid-80 m-wid-85 s-wid-95">
          <p class="h2">{{$t("ambiente.bio1")}}</p>
          <p class="letras-verdes">
            {{$t("ambiente.bio2")}}
          </p>
        </div>
      </div>
      <div class="col l6 m12 s12">
        <div class="imgbio">

        </div>
      </div>
    </div>

    <div class="row renovables">
      <div class="col l6 m12 s12">
        <div class="imgren">

        </div>
      </div>
      <div class="col l6 m12 s12">
        <div class="textresp block auto wid-80 m-wid-85 s-wid-95">
          <p class="h2">{{$t("ambiente.src1")}}</p>
          <p class="letras-verdes">{{$t("ambiente.src2")}}
          </p>
        </div>
      </div>
    </div>

  </section>
</template>

<script>

  export default{
    data: function(){
      return {

      };
    },
    methods: {

    },
    components: {
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #ambiente{

    .textogigante{
      padding: 80px;
      @media #{$medium-and-down}{
        padding: 40px;
      }
      @media #{$small-and-down}{
        padding: 10px;
      }
      p{
        @media #{$medium-and-down}{
          font-size: 2rem;
        }
        @media #{$small-and-down}{
          font-size: .8rem;
        }
        span{
            color: #9ECE71;
        }
      }
    }

    .imgniño{
      background-image: url("~assets/img/photo/ambiente-header.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      height: 500px;

    }

    .biodegradable{
      margin-top: 5%;
      margin-bottom: 5%;
      .col{
        padding: 0rem;
      }
      .textresp{
        padding-top: 12%;
      }
      p{
        }
        .letras-verdes{

          @media #{$medium-and-down}{

          }
          @media #{$small-and-down}{
            font-size: 0.8rem;
          }
      }

      .imgbio{
        background-image: url("~assets/img/photo/ambiente-biodegradable.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        @media #{$medium-and-down}{

        }
        @media #{$small-and-down}{
          height: 250px;
        }
      }
    }

    .renovables{
      margin-bottom: 5%;
      .col{
        padding: 0rem;
      }
      .textresp{
        padding-top: 12%;
      }
      p{
      }
        .letras-verdes{

          @media #{$medium-and-down}{

          }
          @media #{$small-and-down}{
            font-size: 0.8rem;
          }
        }
      .imgren{
        background-image: url("~assets/img/photo/ambiente-renovables.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        @media #{$medium-and-down}{

        }
        @media #{$small-and-down}{
          height: 250px;
        }
      }
    }
  }
</style>
