<template>
  <section id="index" class="">

    <div class="row home lv12 mv10 sv10">
      <div class="col s12 m12 l12">
        <h1 class="title poppins">{{ $t("home.hero.es_amigable") }}<br>{{ $t("home.hero.con_el_ambiente") }} </h1>
      </div>
    </div>

    <div class="row info v-pad-64">
      <div class="col s12 m12 l12">
        <div class="hold pad-32 m-pad-16 s-pad-18 right-align ">
          <h2 class="h2">TP1 DVO®</h2>
          <p class="letras-verdes wid-60 m-wid-75 s-wid-100 s-pad-8">
            {{ $t("home.hero.descripcion")}}
          </p>
          <div class="">
            <a :href="'/'+$i18n.locale+'/ambiente'" class="cta">
              {{ $t("mas_info") }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row certificados pad-64 m-pad-64 s-pad-16">
      <div class="col s12 m12 l12">
        <p class="h2">TP1 DVO® {{ $t("home.certs.descripcion") }}</p>
      </div>

      <div class="col s12 m4 l4 certificaditos">
        <img src="~/assets/app/iec.png" alt="">
        <p>{{ $t("home.certs.iec1") }}<br> IEC 62770:2013</p>
        <div class="">
          {{ $t("home.certs.iec2") }}
        </div>

      </div>
      <div class="col s12 m4 l4 certificaditos">
        <img src="~/assets/app/ance.png" alt="">
        <p>{{ $t("home.certs.mex1") }}<br> NMX-J-123-ANCE-2008</p>
        <div class="">
          {{ $t("home.certs.mex2") }}
        </div>
      </div>
      <div class="col s12 m4 l4 certificaditos">
        <img src="~/assets/app/ieee.png" alt="">
        <p>{{ $t("home.certs.ieee1") }}<br> C57.147-2008<br></p>
        <div class="">
          {{ $t("home.certs.ieee2") }}
        </div>
      </div>

    </div>

    <div class="row ventajas v-pad-64  h-pad-16 s-pad-8">
      <div class="col s12 m12 l12 center-align">
        <h2 class="h2 v-pad-32">{{ $t("home.ventajas.ventajas") }}</h2>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            01
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i01") }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            02
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i02") }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            03
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i03") }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            04
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i04") }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            05
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i05") }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            06
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i06") }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            07
          </div>
          <div class="texto">
            {{ $t("home.ventajas.i07") }}
          </div>
        </div>
      </div>

    </div>

    <div class="row split funciones">
      <div class="col s12 m12 l5 hei-100 m-hei-50 s-hei-50 gris">
        <div class="auto wid-70 m-wid-80 s-wid-90 hei-100 funcpad">
          <h2 class="h2">{{ $t("home.funciones.funciones") }}</h2>
          <p class="letras-verdes">{{ $t("home.funciones.desc1") }}<br><br>
            {{ $t("home.funciones.desc2") }}</p>
        </div>
      </div>
      <div class="col s12 m12 l7 hei-100 m-hei-50 s-hei-50 imgfunciones">
        &nbsp;
      </div>
    </div>

    <div class="row tecnicos">
      <div class="col l12 m12 s12 center-align">
        <p class="h2">{{ $t("home.specs.specs") }}</p>
        <p class="letras-verdes">
          {{ $t("home.specs.desc1") }}<br>
          {{ $t("home.specs.desc2") }}
        </p>
        <a :href="'/'+$i18n.locale+'/tecnicos'" class="cta">{{ $t("conoce_mas") }}</a>
      </div>
    </div>

    <div class="row mapa v-pad-64">
      <div class="col l6 m12 s12">
        <div class="auto wid-70 m-wid-80 s-wid-90 hei-100">
          <p class="h2">{{ $t("home.mapa.mapa") }} </p>
          <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat. Ut wisi enim ad
              minim veniam, quis nostrud exerci tation ullamcorper
              suscipit lobortis nisl ut aliquip ex ea commodo consequat.<br><br>
              Duis autem vel eum iriure dolor in hendrerit in vulputate
              velit esse molestie consequat, vel illum dolore eu.
          </p> -->
        </div>
      </div>
      <div class="col l6 m12 s12 bgmapa ">
        <!-- <img src="~assets/img/vector/home-mapa0.svg" class="block" alt=""> -->
      </div>
    </div>

  </section>

</template>


<style lang="scss">
  @import "~assets/materialize_mkti";
  #index{
    .home{
      background-image: url("~assets/img/photo/home-header.jpg");
      background-size: cover;

      .title{
        font-size: 4.2rem;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px;
        padding-top: 17%;
        padding-left: 5%;
        color: white;
        @extend .text-shadow;
        @media #{$medium-and-down}{
          font-size: 3.5rem;
          padding-top: 40%;
        }
        @media #{$small-and-down}{
          font-size: 1.7rem;
          padding-top: 20%;
        }
      }
    }

     .info{
       // background-color: white;
       background-image: url("~assets/img/photo/home-descripcion.jpg");
       background-size: 30% auto;
       background-repeat: no-repeat;

       .hold{
         padding-top: 6%;
         p{
           float: right;
           clear: both;
           display: block;
         }
         a{
           float: right;
         }
       }
       margin-bottom: 50px;
     }

     .certificados{
       background-image: url("~assets/img/photo/home-certifacion.jpg");
       background-size: cover;
       color: white;

       .h2{
         color: white;
         text-align: center;
         padding-bottom: 50px;
         @media #{$medium-and-down}{
           font-size: 1.8rem;
         }
         @media #{$small-and-down}{
           font-size: 1rem;
         }
       }
       .certificaditos{
         font-weight: bold;
         img{
           width: 20%;
           height: auto;
           display: inline-block;
           vertical-align: middle;
         }
         p{
           width: 78%;
           display: inline-block;
           padding: 12px;
           vertical-align: middle;
         }
         div{
           font-size: 0.9rem;
         }

         @media #{$medium-and-down}{
           img{
             width: 60%;
           }
           p{
             width: 100%;
           }
         }
         @media #{$small-and-down}{
           margin-top: 32px;
           img{
             max-width: 100px;
           }
           p{
             padding: 1px;
           }

         }
       }
     }

     .ventajas{
       .acomodo{
         margin-bottom: 32px;
         .numero{
           display: inline-block;
           width: 15%;
           font-size: 4.5rem;
           vertical-align: bottom;
           vertical-align: middle;
           font-weight: bold;
         }
         .texto{
           display: inline-block;
           font-size: 1.15rem;
           width: 80%;
           vertical-align: top;
           padding-left: 7%;
           padding-top: 3%;
           color: $dark-color;
         }

         @media #{$medium-and-down}{
           .numero{
             font-size: 4rem;
           }
           .texto{
             padding-left: 20%;
             font-size: 1.07rem;
           }
         }
         @media #{$small-and-down}{
           .numero{
             font-size: 4rem;
           }
           .texto{
             padding-left: 16%;
             font-size: 0.9rem;
           }
         }

       }
     }

     .funciones{
       .gris{
         background-color: #F2F2F2;
         border-radius: 150px 0px 0px 150px;
         @media #{$medium-and-down}{
           border-radius: 0px;
         }
       }
       .imgfunciones{
         background-image: url("~assets/img/photo/home-funciones.jpg");
         background-size: cover;
         background-position: center;
       }
       .funcpad{
         padding-top: 20%;
         @media #{$medium-and-down}{
           padding-top: 7%;
         }
         @media #{$small-and-down}{
           padding-top: 5%;
         }

         p{
           color: #A4A49F;
           @media #{$small-and-down}{
             font-size: .85em;
           }
         }
       }

     }

     .tecnicos{
       margin-top: 5%;
       margin-bottom: 5%;
       .h2{
         font-size: 3.8rem;
         @extend .pad-0, .v-mar-8;
         @media #{$medium-and-down}{
           font-size: 3.2rem;
         }
         @media #{$small-and-down}{
           font-size: 2rem;
           line-height: 2rem;
         }
       }
       p{
         font-size: 1.2rem;
         margin-bottom: 64px;
         @media #{$medium-and-down}{
           font-size: 1rem;
         }
         @media #{$small-and-down}{
           font-size: .8rem;
         }
       }
       .cta{
         width: 400px;
         font-size: 1.5rem;
         @extend .auto, .v-mar-32;
         @media #{$medium-and-down}{
           font-size: 1.2rem;
           width: 300px;
         }
         @media #{$small-and-down}{
           font-size: .8rem;
           width: 200px;
         }
       }
     }

     .mapa{
       background-color: #9ECE71;
       .h2{
         font-size: 3.8rem;
         line-height: 3rem;
         padding-top: 10%;
         @media #{$medium-and-down}{
           font-size: 3.2rem;
         }
         @media #{$small-and-down}{
           font-size: 2rem;
           line-height: 2rem;
           padding-top: 1%;
         }
       }
       p{
         color: white;
         text-align: justify;
         text-justify: auto;
         @media #{$medium-and-down}{
           font-size: 1rem;
           padding-bottom: 45px;
         }
         @media #{$small-and-down}{
           font-size: .8rem;
           padding-bottom: 45px;

         }

       }
       .bgmapa{
         background-image: url('~assets/img/vector/home-mapa0.svg');
         height: 500px;
         background-repeat: no-repeat;
         @media #{$medium-and-down}{

         }
         @media #{$small-and-down}{
           height: 200px;
         }
       }
     }

  }
</style>

<script>

  export default{
    data: function(){
      return {

      };
    },
    methods: {

    },
    components: {
    }
  }
</script>
