<template>
  <section id="nosotros" class="">
    <div class="row contacto lv12 mv10 sv8">
      <div class="col l12 m12 12">
        <div class="h2 bottom-left pad-64">
          {{$t("contacto.title")}}
        </div>
      </div>
    </div>
    <ContactForm/>
  </section>
</template>

<script>
  import ContactForm from '~/components/ContactForm.vue'

  export default{
    data: function(){
      return {

      };
    },
    methods: {

    },
    components: {
      ContactForm
    }
  }

</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #nosotros{
    .contacto{

      background-image: url("~assets/img/photo/contacto-header.jpg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      height: 100vh;
      @media #{$medium-and-down}{
        height: 80vh;
      }
      @media #{$small-and-down}{
        height: 60vh;
      }
    }
    .bottom-left{
      position: absolute;
      bottom: 0px;
      left: 16px;
      font-size: 4.2rem;
      line-height: 4.2rem;
      color: white;
      @media #{$medium-and-down}{
        font-size: 2.2rem;
        line-height: 2.2rem;
        bottom: 120px;
      }
      @media #{$small-and-down}{
        font-size: 1.2rem;
        line-height: 1.2rem;
        bottom: 150px;
      }
    }

  }
</style>
