<template>
  <section id="tecnicos" class="">

    <div class="row imagencampo">
      <div class="col l12 m12 s12">

      </div>
    </div>

    <div class="row composicion">
      <div class="col l6 m12 s12">
        <div class="imgcom">

        </div>
      </div>

      <!-- "specs":{
        "comp1": "COMPOSITION",
        "comp2": "For Its high purity, TP1 DVO® possess an excellent opposition to the flow of electric currents, avoiding the electrical charge movement and optimizing the dielectric strength.",
        "temp1": "TEMPERATURE",
        "temp2": "TP1 DVO® is the best choice for equipment that operates under high temperature conditions due to its high melting and ignition points.",
        "params1": "ORGANOLEPTIC PARAMETERS",
        "params2": "TP1 DVO® possesses organoleptic parameters that make it characteristic, fulfilling the requirements demanded by the Quality Control department. Its parameters are the following:",
        "params3": "Aroma: Neutral, free of rancid, strange or solvent odor.",
        "params4": "Visual aspect: Brilliant and crystalline, yellowish, without turbidity, free of foreign bodies.", -->

      <div class="col l6 m12 s12">
        <div class="textresp block auto wid-80 m-wid-85 s-wid-95">
          <p class="h2">{{ $t("specs.comp1") }}</p>
          <p class="letras-verdes">{{ $t("specs.comp2") }}
          </p>
        </div>
      </div>
    </div>

    <div class="row temperatura">
      <div class="col l6 m12 s12">
        <div class="textresp block auto wid-80 m-wid-85 s-wid-95">
          <p class="h2">{{ $t("specs.temp1") }}</p>
          <p class="letras-verdes">{{ $t("specs.temp2") }}
          </p>
        </div>
      </div>

      <div class="col l6 m12 s12">
        <div class="imgtem">

        </div>
      </div>
    </div>

    <div class="row imagenabajo">
      <div class="l12 m12 s12">

      </div>
    </div>

    <div class="row parametros v-pad-64 v-pad-32">
      <div class="col l7 m12 s12">
        <div class="textresp block auto wid-80 m-wid-85 s-wid-95">
          <p class="h2">{{ $t("specs.params1") }}</p>
        </div>
      </div>
      <div class="col l5 m12 s12">
        <div class="textresp2 block auto wid-95 m-wid-85 s-wid-95">
          <p class="letras-verdes">{{ $t("specs.params2") }}
          </p>
          <p class="letras-verdes">
            <br>
            {{ $t("specs.params3") }}
          </p>
          <p class="letras-verdes">
            {{ $t("specs.params4") }}
          </p>
        </div>
      </div>
    </div>

    <div class="row ventajas v-pad-64  h-pad-16 s-pad-8">
      <div class="col s12 m12 l12 center-align">
        <h2 class="h2 v-pad-32 s-pad-16">{{ $t("specs.law.title") }}</h2>
      </div>

      <div class="col s12 m12 l12 center-align">
        <p class="letras-verdes v-pad-32">
          {{ $t("specs.law.subtitle") }}
        </p>
      </div>

      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            01
          </div>
          <div class="texto">
            {{ $t("specs.law.i01") }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            02
          </div>
          <div class="texto">
            {{ $t("specs.law.i02") }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            03
          </div>
          <div class="texto">
            {{ $t("specs.law.i03") }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            04
          </div>
          <div class="texto">
            {{ $t("specs.law.i04") }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            05
          </div>
          <div class="texto">
            {{ $t("specs.law.i05") }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            06
          </div>
          <div class="texto">
            {{ $t("specs.law.i06") }}
          </div>
        </div>
      </div>

    </div>

    <div class="row ventajas v-pad-32">
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            07
          </div>
          <div class="texto">
            {{ $t("specs.law.i07") }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 letras-verdes">
        <div class="acomodo">
          <div class="numero">
            08
          </div>
          <div class="texto">
            {{ $t("specs.law.i08") }}
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>

  export default{
    data: function(){
      return {

      };
    },
    methods: {

    },
    components: {
    }
  }

</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #tecnicos{
    .imagencampo{
      background-image: url("~assets/img/photo/tecnicos-header.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 600px;
      @media #{$medium-and-down}{
        height: 400px;
      }
      @media #{$small-and-down}{
        height: 250px;
      }
    }

    .composicion{
      margin-top: 5%;
      margin-bottom: 5%;
      .col{
        padding: 0rem;
      }
      .textresp{
        padding-top: 12%;
      }
      p{
      }
        .letras-verdes{

          @media #{$medium-and-down}{

          }
          @media #{$small-and-down}{
            font-size: 0.8rem;
          }
        }
      .imgcom{
        background-image: url("~assets/img/photo/tecnicos-composicion.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        @media #{$medium-and-down}{

        }
        @media #{$small-and-down}{
          height: 250px;
        }
      }
    }

    .temperatura{
      margin-bottom: 5%;
      .col{
        padding: 0rem;
      }
      .textresp{
        padding-top: 12%;
      }
      p{
      }
        .letras-verdes{

          @media #{$medium-and-down}{

          }
          @media #{$small-and-down}{
            font-size: 0.8rem;
          }
        }
      .imgtem{
        background-image: url("~assets/img/photo/tecnicos-temperatura.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        @media #{$medium-and-down}{

        }
        @media #{$small-and-down}{
          height: 250px;
        }
      }
    }

    .imagenabajo{

      background-image: url("~assets/img/photo/tecnicos-parametros.jpg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 600px;
      @media #{$medium-and-down}{
        height: 400px;
      }
      @media #{$small-and-down}{
        height: 250px;
      }
    }

    .parametros{
      .textresp{
        padding-top: 3%;
      }
      .textresp2{

        .letras-verdes{
          font-size: 0.9rem;
        }
      }
    }

    .ventajas{
      background-color: #E6E6E6;
      p{
        color: #666667;
      }
      .acomodo{
        margin-bottom: 18px;
        .numero{
          display: inline-block;
          width: 15%;
          font-size: 4.5rem;
          vertical-align: bottom;
          vertical-align: middle;
          font-weight: bold;
        }
        .texto{
          display: inline-block;
          font-size: 1.15rem;
          width: 80%;
          vertical-align: top;
          padding-left: 7%;
          padding-top: 3%;
          color: $dark-color;
        }

        @media #{$medium-and-down}{
          .numero{
            font-size: 4rem;
          }
          .texto{
            padding-left: 20%;
            font-size: 1.07rem;
          }
        }
        @media #{$small-and-down}{
          .numero{
            font-size: 4rem;
          }
          .texto{
            padding-left: 16%;
            font-size: 0.9rem;
          }
        }

      }
    }
  }
</style>
